*{
  box-sizing: border-box;
}

body {
  background-image: url("../images/labbg-dark.jpg"); 
  background-size: cover;
  background-attachment: fixed;
}

#logo {
  margin: 3rem auto;
  display: block;
}

#infoContainer {
  width: 80%;
  margin: 0 auto 5rem;
  padding: 3rem;
  border: 3px solid white;
}

#info {
  font-size: 1.5rem;
  color: white;  
  font-weight: bold;
}

#labaidLink {
  color: #F96714;
}